@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    padding: 30px;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100px;
    padding: 10px;
    background-color: #108d7d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0b6c5a;
}

#result {
    display: none;
    padding-top: 20px;
}

#result.hidden {
    opacity: 0;
    transform: translateY(-20px);
    display: block;
    animation: fadeIn 0.5s ease forwards;
}

#result h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#shortened-link {
    display: inline-block;
    font-size: 14px;
    color: #108d7d;
    text-decoration: none;
    transition: color 0.3s ease;
}

#shortened-link:hover {
    color: #0b6c5a;
}
